In [1]:
import json
import pandas as pd

In [2]:
#read json and print
with open('../Dataset Raw/Temperature.json') as f:
    data = json.load(f)

In [3]:
df = pd.DataFrame.from_dict(
    {(i, j): data[i][j] for i in data.keys() for j in data[i].keys()}, orient='index')

In [4]:
df

                   Kharif      Rabi    Autumn    Summer  Whole Year    Winter
adilabad  1985  26.974333  24.19150  25.10225  28.25250   27.897667  26.10150
          1986  27.742667  24.09150  25.64925  28.71575   30.209556  25.04850
          1987  27.875667  24.20975  25.65550  29.42925   30.418963  24.90525
          1988  26.933333  23.62025  24.62600  28.44275   30.343414  25.49675
          1989  26.571333  23.70925  24.84400  27.74225   29.733951  24.28150
...                   ...       ...       ...       ...         ...       ...
zunheboto 1998  22.652333  17.07300  19.78950  22.70875   21.070600  14.50175
          1999  21.976667  16.68200  19.05350  22.79750   21.525883  16.15200
          2000  21.693000  15.91300  18.37675  22.53650   20.516074  14.20375
          2001  22.526667  16.50800  19.09175  23.12675   21.075256  15.09650
          2002  22.006333  16.54025  18.85550  22.62175   20.996688  15.33400

[8298 rows x 6 columns]

In [5]:
#df to csv
df.to_csv('../Dataset Processed/Temperature_cleaned.csv')

In [6]:
df=pd.read_csv('../Dataset Processed/Temperature_cleaned.csv')

In [7]:
# rename frist column as District_Name and second as Year
df.rename(columns={'Unnamed: 0': 'District_Name', 'Unnamed: 1': 'Year'}, inplace=True)

In [8]:
df

,District_Name,Year,Kharif,Rabi,Autumn,Summer,Whole Year,Winter
0,adilabad,1985,26.974333,24.19150,25.10225,28.25250,27.897667,26.10150
1,adilabad,1986,27.742667,24.09150,25.64925,28.71575,30.209556,25.04850
2,adilabad,1987,27.875667,24.20975,25.65550,29.42925,30.418963,24.90525
3,adilabad,1988,26.933333,23.62025,24.62600,28.44275,30.343414,25.49675
4,adilabad,1989,26.571333,23.70925,24.84400,27.74225,29.733951,24.28150
...,...,...,...,...,...,...,...,...
8293,zunheboto,1998,22.652333,17.07300,19.78950,22.70875,21.070600,14.50175
8294,zunheboto,1999,21.976667,16.68200,19.05350,22.79750,21.525883,16.15200
8295,zunheboto,2000,21.693000,15.91300,18.37675,22.53650,20.516074,14.20375
8296,zunheboto,2001,22.526667,16.50800,19.09175,23.12675,21.075256,15.09650
8297,zunheboto,2002,22.006333,16.54025,18.85550,22.62175,20.996688,15.33400

In [9]:
#export to csv
df.to_csv('../Dataset Processed/Temperature_cleaned.csv')